<div class="container-fluid mt-4">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper border border-info">
      </div>
      <div class="carousel-caption">
        <div class="card border-0">
          <div class="card-title">
            <h3>Quote by : Dennis Kamunya</h3>
            <small>1 years ago</small>
          </div>
          <app-quote-text></app-quote-text>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
  <app-quotes-app-form></app-quotes-app-form>
</div>

